<!DOCTYPE html>
{% extends 'freqApp/BasePage.html' %}

{% block bodyblock %}


  <div class="media" style=" text-align: center; background-color: rgba(420, 450, 264, 0.5); " >
  <img src="https://files.realpython.com/media/Three-Ways-of-Storing-and-Accessing-Lots-of-Images-in-Python_Watermarked.e0e46e94536c.jpg" style=" border-radius: 50px; width:254px; height:100px; " class="mr-3" alt="...">
  <div class="media-body">
    <h3 class="mt-0"> <strong> {{ message }} <br> <br> The Results are Below: </strong> </h3>

  </div>
</div>

      <div class="jumbotron" style=" font-size: 30px;" >
        <div class="row">
          <div class="col-sm">
          TOP 10 WORDS
          </div>
          <div class="col-sm">
          WORD COUNT
          </div>
        </div>
      <div class="row">
        <div class="col-sm">
        {{ url.word1 }}
        </div>
        <div class="col-sm">
        {{url.word1count}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
        {{url.word2}}
        </div>
        <div class="col-sm">
         {{ url.word2count }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
        {{url.word3}}
        </div>
        <div class="col-sm">
        {{url.word3count}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
        {{url.word4}}
        </div>
        <div class="col-sm">
          {{url.word4count}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
        {{url.word5}}
        </div>
        <div class="col-sm">
        {{url.word5count}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          {{url.word6}}
        </div>
        <div class="col-sm">
        {{ url.word6count }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          {{url.word7}}
        </div>
        <div class="col-sm">
          {{url.word7count}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          {{url.word8}}
        </div>
        <div class="col-sm">
          {{url.word8count}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          {{url.word9}}
        </div>
        <div class="col-sm">
          {{url.word9count}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          {{url.word10}}
        </div>
        <div class="col-sm">
          {{url.word10count}}
        </div>
      </div>
      </div>
      <a class="btn btn-danger" href="{% url 'freqApp:frequencypage' %}">Check Some More!</a>
      <a class="btn btn-warning" href="{% url 'basepage' %}">Go Back Home!</a><br><br>

{% endblock %}
