<!DOCTYPE html>
{% extends 'freqApp/BasePage.html' %}

{% block bodyblock %}
  <h2>ResultsPage</h2>
  <a href="{% url 'basepage' %}">Home!</a><br><br>

  {{ url.word1}}
  {{url.word1count}} <br>
  {{ url.word2}}
  {{url.word2count}} <br>
  {{ url.word3}}
  {{url.word3count}} <br>
  {{ url.word4}}
  {{url.word4count}} <br>
  {{ url.word5}}
  {{url.word5count}} <br>


  {{ url.word6}}
  {{url.word6count}} <br>
  {{ url.word7}}
  {{url.word7count}} <br>
  {{ url.word8}}
  {{url.word8count}} <br>
  {{ url.word9}}
  {{url.word9count}} <br>
  {{ url.word10}}
  {{url.word10count}} <br>

{% endblock %}
